.testimonials {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.card-r {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex; /* Ensure flex display */
  flex-direction: column; /* Stack items inside each card */
  align-items: center; /* Center align items */
  justify-content: center; /* Center align items */
  min-width: 300px; /* Set minimum width for card */
}

/* Ensure slider card has a minimum width */
.slick-slide {
  margin: 0 10px; /* Add spacing between slides */
}

/* Style for the icon container */
.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.card-r p {
  font-size: 16px;
  margin: 0;
}

.card-r h6 {
  font-size: 14px;
  margin-top: 0px;
}

.card-r h3 {
  font-size: 18px;
  margin-top: 10px;
  color: gold;
}

/* Responsive styles */
@media (max-width: 768px) {
  .testimonials h2 {
    font-size: 1.5em;
  }

  .card-r {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .testimonials h2 {
    font-size: 1.2em;
  }

  .card-r {
    width: 100%;
    padding: 15px;
    max-width: 100%;
    font-size: 0.9em;
  }

  .icon-circle {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .card-r h3 {
    font-size: 16px;
  }
}
.delete-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff4d4d; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e63939; /* Darker red on hover */
}

